@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    font-family: 'Fredoka One', cursive;
}

#select-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: brown;    
    font-size: 32px;
}

.subtitle {
    font-size: 20px;
}

.cards, .attacks-cards{
    display: flex;
    gap: 10px;
}

.card-mokepon{
    display: flex;
    width: 180px;
    height: 100px;
    background: aquamarine;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid green;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-mokepon img {
    width: 60px;
    height: 60px;
}

input{
    display: none;
}

input:checked + label {
    background-color: rgb(17, 64, 122);
    color: white;
}

#button-pets {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid green;
    margin: 30px 20px 10px 5px;
}

#select-attack {    
    flex-direction: column;
    align-items: center;
}

.btn-attack{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid green;
    margin: 30px 20px 10px 5px;
    
}

#messages {
    width: 280px;
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#button-restart{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid rgb(23, 73, 180);
    margin: 10px 20px 10px 5px;
}

.attacks {
    display: grid;
    grid-template-columns: 150px 150px;
}

.attacks-player, .attacks-enemy{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#show-map{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map{
    border: 2px solid green;
}

@media(max-width:360px){
    .cards, .attacks-cards {
        flex-direction: column;
    }
}